.layout-container{
    height: 100vh;
    width: 100vw;
    /* background-color: bisque; */
}
.header-container{
    height: 8%;
    width: 100%;
    background-color: aqua;
}
.book-container{
    height: 70%;
    width: 100%;
}